{{- if .ResourceFiles }}
apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: oci-{{ .Service }}-{{ .Scope }}-{{ .Version }}-tests-template
spec:
  serviceAccountName: argo-workflow
  entrypoint: {{ .Service }}-{{ .Scope }}-tests-workflow
  volumes:
    - name: git-repo
      persistentVolumeClaim:
        claimName: git-repo-pvc
  arguments:
    parameters:
    {{- if .NeedsNamespace }}
    - name: {{ .NamespaceParameter }}
    {{- end }}
    {{- range .EnvVars }}
    - name: {{ . }}
    {{- end }}
    {{- range .PrerequisiteResourceFiles }}
    - name: create_{{ .Kind }}
      value: "true"
    {{- end }}
    - name: create_resources
      value: "true"
    - name: delete_resources
      value: "true"
  templates:
    - name: {{ .Service }}-{{ .Scope }}-tests-workflow
      {{- if .NeedsNamespace }}
      inputs:
        parameters:
          - name: {{ .NamespaceParameter }}
            value: "{{ resolveParameter .NamespaceParameter }}"
      {{- end }}
      dag:
        tasks:
        {{- range .PrerequisiteResourceFiles }}
        - name: create-{{ normalizeTaskName .Name }}
          templateRef:
            name: test-template
            template: create-resource
          when: "{{ resolveWhen "prerequisites" .Kind }} == true"
          {{- if .PrerequisiteKinds }}
          dependencies: [{{ .PrerequisiteKinds | joinCreateDependencies }}]
          {{- end }}
          arguments:
            parameters:
              - name: resourceFile
                value: "{{ .Path | resolveResourceFile }}"
              {{- if $.NeedsNamespace }}
              - name: namespace
                value: "{{ resolveInputParameter $.NamespaceParameter }}"
              {{- end }}
              {{- if .EnvVars }}
              - name: envVars
                value: "{{ .EnvVars | resolveEnvVars }}"
              {{- end }}
              {{- if .SetupFilePath }}
              - name: setupFile
                value: "{{ .SetupFilePath | resolveResourceFile }}"
              {{- if .EnvVars }}
              - name: setupEnvVars
                value: "{{ .EnvVars | resolveEnvVars }}"
              {{- end }}
              {{- end }}
        {{- end }}
        {{- range .ResourceFiles }}
        - name: create-{{ normalizeTaskName .Name }}
          templateRef:
            name: test-template
            template: create-resource
          when: "{{ resolveWhen "create" }} == true"
          {{- if .PrerequisiteKinds }}
          dependencies: [{{ .PrerequisiteKinds | joinCreateDependencies }}]
          {{- end }}
          arguments:
            parameters:
              - name: resourceFile
                value: "{{ .Path | resolveResourceFile }}"
              {{- if $.NeedsNamespace }}
              - name: namespace
                value: "{{ resolveInputParameter $.NamespaceParameter }}"
              {{- end }}
              {{- if .EnvVars }}
              - name: envVars
                value: "{{ .EnvVars | resolveEnvVars }}"
              {{- end }}
              {{- if .SetupFilePath }}
              - name: setupFile
                value: "{{ .SetupFilePath | resolveResourceFile }}"
              {{- if .EnvVars }}
              - name: setupEnvVars
                value: "{{ .EnvVars | resolveEnvVars }}"
              {{- end }}
              {{- end }}
        {{- end }}
        {{- range .ResourceFiles }}
        - name: delete-{{ normalizeTaskName .Name }}
          templateRef:
            name: test-template
            template: delete-resource
          when: "{{ resolveWhen "delete" }} == true"
          dependencies: [{{ joinDeleteDependencies .Name .DependentNames }}]
          arguments:
            parameters:
              - name: resourceKind
                value: "{{ resolveDeleteParameters .Name "Kind" }}"
              - name: resourceName
                value: "{{ resolveDeleteParameters .Name "Name" }}"
              - name: resourceGroup
                value: "{{ resolveDeleteParameters .Name "Group" }}"
              {{- if $.NeedsNamespace }}
              - name: namespace
                value: "{{ resolveInputParameter $.NamespaceParameter }}"
              {{- end }}
              {{- if .TeardownFilePath }}
              - name: teardownFile
                value: "{{ .TeardownFilePath | resolveResourceFile }}"
              {{- if .EnvVars }}
              - name: teardownEnvVars
                value: "{{ .EnvVars | resolveEnvVars }}"
              {{- end }}
              {{- end }}
        {{- end }}
{{- end }}
